<div class="py-10 bg-gray-200">
            <div class="container mx-auto flex flex-col gap-2">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-center gap-2">

                    <a
                        href="https://banglaboi-choti.blogspot.com/search/label/%E0%A6%95%E0%A6%BE%E0%A6%9C%E0%A7%87%E0%A6%B0%20%E0%A6%AC%E0%A7%81%E0%A7%9F%E0%A6%BE">banglaboi-choti.blogspot</a>
                    <a href="https://chotikahini360.blogspot.com/search/label/%E0%A6%AC%E0%A7%87%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A6%B2%E0%A6%BF%20%E0%A6%AA%E0%A6%B0%E0%A7%8D%E0%A6%A8%20%E0%A6%B8%E0%A7%8D%E0%A6%9F%E0%A7%8B%E0%A6%B0%E0%A6%BF">chotikahini360.blogspot</a>
                    <a href="https://www.banglachotikahinii.com/?s=%E0%A6%B9%E0%A6%9F+%E0%A6%AE%E0%A6%BE%E0%A6%97%E0%A6%BF+" target="_blank" class="bg-[#eff9ee] text-[#1f7d13] p-3 font-semibold">banglachotikahinii.com</a>
                    <a href="https://newchotigolpo.com/" target="_blank" class="bg-gray-300 text-gray-800 p-3 font-semibold">newchotigolpo.com</a>
                    <a href="https://chotiheaven.blogspot.com" target="_blank" class="bg-[#c0a154]/40 text-gray-800 p-3 font-semibold">chotiheaven.blogspot.com</a>
                </div>
            </div>
        </div>