@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  font-size: .875rem;color: #515151;
}
* { border-color: #c8c8c8; }


.h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

img {
  width: 100%;height: auto;max-width: 100%;
}

.grid__image img { aspect-ratio: 16 / 10;object-fit: cover;filter: grayscale(100%);margin-bottom: 0rem; }
.grid__image p { 
  position: absolute;bottom: 0%;left: 0;width: 100%;padding: 1rem;
  background-color: #00000069;color: #fff;margin-bottom: 0;
}
.container {
  max-width: 1100px;margin-left: auto;margin-right: auto;padding-left: 1rem;padding-right: 1rem;
}

.hero__box {
  aspect-ratio: 4 / 1.25;
}
p {
  margin-bottom: 1rem;
}